body {
  text-align: center;
  font-size: 14px;
}

.App-logo {
  height: 10vmin;
}

.intro-bar {
  background-color: #00A4BB;
  overflow: hidden;  
}

.intro-bar p{
  margin: 19px 0;
  color: white;
  text-align: center;
}

.logo-and-search {
  display: flex;
  align-items: center;
  float: left;
}

.menu {
  float: right;
}

img {
  padding: 19px;
}

ul li {
  display: inline-block;
  list-style: none;
  line-height: 40px;
  margin: 10px 0 0 10px;
  font-size: 14px;
  color: #00A4BB;
  padding: 0 10px;
}

.form-control {
  width: 360px;
  background-color: #f9f9f9;
  border: 1px solid #f5f5f5;
}
